services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    command: ['redis-server', '--appendonly', 'yes']
    volumes:
      - redis-data:/data
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s

  db-migrate:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: db-migrate
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy
    restart: 'no'
    command: ['sh', '-lc', 'node dist/main.js']

  indexer:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: indexer
    env_file:
      - .env
    depends_on:
      db-migrate:
        condition: service_completed_successfully
    command: ['node', 'dist/main.js']
    restart: unless-stopped

  aggregator:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: aggregator
    env_file:
      - .env
    depends_on:
      db-migrate:
        condition: service_completed_successfully
      redis:
        condition: service_healthy
    command: ['node', 'dist/main.js']
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: dashboard-api
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '3000:3000'
    command: ['node', 'dist/main.js']
    restart: unless-stopped

  client:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
      - client-node-modules:/app/node_modules
    environment:
      VITE_API_URL: http://localhost:3000
      HOST: 0.0.0.0
      PORT: 5173
    depends_on:
      - api
    ports:
      - '5173:5173'
    command:
      [
        'sh',
        '-lc',
        'npm ci && npx nx serve dashboard-client --host=0.0.0.0 --port=5173',
      ]
    restart: unless-stopped

volumes:
  pg-data:
  redis-data:
  client-node-modules:
